body { min-width: 980px;}

.btn-1 { behavior:url(js/PIE.htc); position:relative;}

.sf-menu > li > ul, 
.sf-menu > li.sfHover > ul {border: 2px solid #ebebeb;}


.box-5 .magnifier:hover img { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);}
.magnifier:hover span {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);}
.magnifier:hover img { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);}
.magnifier:hover img {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);}
.magnifier span {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);}
#contact-form ._placeholder {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=99);}
#contact-form ._placeholder.focused {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);}